{
    "rules": {
        "indent": [
            2,
            2
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": 0
    },
    "env": {
        "es6": true
    },
    "globals": {
        "console": false,
        "PluginManager": false,
        "Game_System": false,
        "Game_Interpreter": false,
        "$gameMessage": false,
        "$gameSwitches": false,
        "$gameVariables": false,
        "$dataArmors": false,
        "$gameParty": false,
        "$gameTemp": false,
        "$gameSystem": false,
        "$gameActors": false,
        "setTimeout": false,
        "clearTimeout": false
    },
    "extends": "eslint:recommended"
}